*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap');

body {
  background: lightgreen;
  font-family: 'Lexend Giga', sans-serif;
  padding: 30px;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.box {
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  box-shadow: 1px 4px 15px 1px rgba(0, 0, 0, 0.3);
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 22px;
}

.yellow {
  background: yellow;
}

.green {
  background: green;
}
